<%= session[:player_1_name] %> vs. <%= session[:player_2_name] %>
<h2><%= session[:player_2_name] %> : <%= @starting_hp %></h2>


<form action="/attack">
    <input type="submit" value="Attack" />
</form>
